* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

img {
  -webkit-user-drag: none;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: fit-content;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 3.8%;
}

.right {
  margin-top: 20px;
}

@media (min-width: 2200px) {
  .grid-layout {
    gap: 15px;
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media (max-width: 1225px) {
  .grid-layout {
    grid-template-columns: 1fr 1fr;
  }

  .right {
    margin-top: 70px;
  }
}

@media (max-width: 1024px) {
  .grid-layout {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .right {
    margin-top: 40px;
  }
}

@media (max-width: 850px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }

  .right {
    /* margin-top: -20px; */
    margin: 0 auto;
  }
}

@media (max-width: 325px) {
  .right {
    margin-left: 20px;
  }
}
