.right {
  position: absolute;
  top: 35%;
  margin-left: 45%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 770px) {
  .right {
    position: static;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .right {
    margin-top: 80px;
  }
}
