html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Backgrounds */
#shadow-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
  z-index: 1;
  max-width: none;
}

#line-background {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1000px;
  height: auto;
  z-index: 2;
}

@media (max-width: 768px) {
  #shadow-background {
    top: -50vw;
    left: -50vw;
    width: 250vw;
    height: 250vw;
  }

  #line-background {
    width: 95%;
  }
}
