@font-face {
  font-family: "Bahij-Light";
  src: url("../../assets/fonts/Bahij-SemiLight.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Fixed 3 per row */
  gap: 16px;
  padding: 0 5%;
  width: 100%;
  max-width: 1300px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 20px;
}

.shared-card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1; /* Keeps it square */
  border-radius: 20px;
  overflow: hidden;
  z-index: 10;
  transition: transform 0.8s ease, box-shadow 0.3s ease;
}

.shared-card:hover {
  transform: scale(1.02) translateY(-4px);
  box-shadow: 3px 4px 8px rgba(57, 57, 57, 0.25);
}

.shared-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.shared-card-textarea {
  position: absolute;
  top: 50px;
  left: 30px;
  right: 20px;
  height: calc(1.5em * 6);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Bahij-Light", cursive;
  line-height: 1.5em;
  max-height: 190px;
  overflow-y: auto;
  color: #454545;
  background: transparent;
}

.shared-card-footer {
  position: absolute;
  top: 290px;
  left: 20px;
  padding: 6px 12px;
  font-size: 16px;
  font-family: "Bahij-Light", sans-serif;
  color: #636363;
}

.shared-card-footer.to.pinks {
  color: #d05d94;
}
.shared-card-footer.to.purples {
  color: #855fac;
}
.shared-card-footer.to.blues {
  color: #5d7db8;
}
.shared-card-footer.to.peachs {
  color: #c57979;
}
.shared-card-footer.to.greys {
  color: #988f93;
}
.shared-card-footer.to.greens {
  color: #58d5b2;
}

@media (max-width: 1200px) {
  .shared-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .shared-card-textarea {
    font-size: 18px;
    top: 40px;
    left: 18px;
    right: 12px;
    width: 260px;
    max-height: 180px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 75%;
    left: 18px;
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .card-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(140px, 1fr)
    ); /* smaller on mobile */
    gap: 10px;
  }

  .shared-card-textarea {
    font-size: 8px;
    top: 10px;
    left: 8px;
    right: 12px;
    width: 110px;
    max-height: 73px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 95px;
    left: 2px;
    font-size: 8px;
  }

  .shared-card img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    display: block;
  }

  .card-grid:has(> .shared-card:only-child) {
    justify-content: center;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 480px;
    left: 50px;
    font-size: 20px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 24px;
    top: 90px;
    left: 50px;
    right: 12px;
    width: 450px;
    max-height: 200px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 17px;
    top: 50px;
    left: 30px;
    right: 12px;
    width: 280px;
    max-height: 190px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 280px;
    left: 30px;
    font-size: 15px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 14px;
    top: 30px;
    left: 14px;
    right: 12px;
    width: 200px;
    max-height: 130px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 170px;
    left: 14px;
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .shared-card-textarea {
    font-size: 8px;
    top: 14px;
    left: 6px;
    right: 10px;
    width: 105px;
    max-height: 90px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 8px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 24px;
    top: 100px;
    left: 60px;
    right: 12px;
    width: 500px;
    max-height: 240px;
    overflow-y: auto;
  }
  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 530px;
    left: 50px;
    font-size: 20px;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 16px;
    top: 50px;
    left: 22px;
    right: 12px;
    width: 260px;
    max-height: 200px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 270px;
    left: 22px;
    font-size: 14px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 12px;
    top: 25px;
    left: 14px;
    right: 10px;
    width: 190px;
    max-height: 110px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 65%;
    left: 12px;
    font-size: 11px;
  }
}

@media (max-width: 820px) {
  .shared-card-textarea {
    font-size: 9px;
    top: 12px;
    left: 8px;
    right: 10px;
    width: 125px;
    max-height: 150px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 8px;
    font-size: 8px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 22px;
    top: 80px;
    left: 50px;
    right: 12px;
    width: 450px;
    max-height: 240px;
    overflow-y: auto;
  }
  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 440px;
    left: 50px;
    font-size: 18px;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 14px;
    top: 40px;
    left: 18px;
    right: 12px;
    width: 250px;
    max-height: 160px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 230px;
    left: 18px;
    font-size: 13px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 11px;
    top: 20px;
    left: 10px;
    right: 10px;
    width: 165px;
    max-height: 110px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .shared-card-textarea {
    font-size: 8px;
    top: 12px;
    left: 6px;
    right: 10px;
    width: 115px;
    max-height: 75px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 8px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 22px;
    top: 80px;
    left: 50px;
    right: 12px;
    width: 450px;
    max-height: 240px;
    overflow-y: auto;
  }
  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 440px;
    left: 50px;
    font-size: 18px;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 14px;
    top: 40px;
    left: 18px;
    right: 12px;
    width: 250px;
    max-height: 160px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 230px;
    left: 18px;
    font-size: 13px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 9px;
    top: 20px;
    left: 10px;
    right: 10px;
    width: 155px;
    max-height: 90px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 9px;
  }
}

@media (max-width: 650px) {
  .shared-card-textarea {
    font-size: 9px;
    top: 14px;
    left: 11px;
    right: 10px;
    width: 125px;
    max-height: 90px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 9px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 390px;
    left: 40px;
    font-size: 18px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 20px;
    top: 70px;
    left: 40px;
    right: 12px;
    width: 380px;
    max-height: 240px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 12px;
    top: 30px;
    left: 12px;
    right: 12px;
    width: 180px;
    max-height: 110px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 175px;
    left: 12px;
    font-size: 11px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 9px;
    top: 14px;
    left: 10px;
    right: 10px;
    width: 125px;
    max-height: 90px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 9px;
  }
}

@media (max-width: 580px) {
  .shared-card-textarea {
    font-size: 8px;
    top: 14px;
    left: 10px;
    right: 10px;
    width: 110px;
    max-height: 90px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 8px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 350px;
    left: 40px;
    font-size: 18px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 20px;
    top: 70px;
    left: 40px;
    right: 12px;
    width: 350px;
    max-height: 170px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 12px;
    top: 30px;
    left: 12px;
    right: 12px;
    width: 175px;
    max-height: 110px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 155px;
    left: 12px;
    font-size: 11px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 8px;
    top: 14px;
    left: 10px;
    right: 10px;
    width: 110px;
    max-height: 90px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 8px;
  }
}

@media (max-width: 542px) {
  .shared-card-textarea {
    font-size: 8px;
    top: 12px;
    left: 10px;
    right: 10px;
    width: 100px;
    max-height: 90px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 8px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 330px;
    left: 30px;
    font-size: 16px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 18px;
    top: 50px;
    left: 30px;
    right: 12px;
    width: 360px;
    max-height: 200px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 12px;
    top: 30px;
    left: 12px;
    right: 12px;
    width: 175px;
    max-height: 110px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 155px;
    left: 12px;
    font-size: 11px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 8px;
    top: 10px;
    left: 8px;
    right: 12px;
    width: 110px;
    max-height: 120px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 100px;
    left: 8px;
    font-size: 8px;
  }
}

@media (max-width: 486px) {
  .shared-card-textarea {
    font-size: 10px;
    top: 18px;
    left: 10px;
    right: 10px;
    width: 140px;
    max-height: 100px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 10px;
    font-size: 9px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 280px;
    left: 30px;
    font-size: 16px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 18px;
    top: 50px;
    left: 30px;
    right: 12px;
    width: 300px;
    max-height: 180px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 11px;
    top: 20px;
    left: 12px;
    right: 12px;
    width: 155px;
    max-height: 100px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 135px;
    left: 12px;
    font-size: 10px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 11px;
    top: 14px;
    left: 14px;
    right: 12px;
    width: 155px;
    max-height: 120px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 135px;
    left: 10px;
    font-size: 10px;
  }
}

@media (max-width: 426px) {
  .shared-card-textarea {
    font-size: 9px;
    top: 16px;
    left: 10px;
    right: 10px;
    width: 125px;
    max-height: 100px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 10px;
    font-size: 8px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 260px;
    left: 30px;
    font-size: 16px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 18px;
    top: 40px;
    left: 30px;
    right: 12px;
    width: 260px;
    max-height: 180px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 9px;
    top: 20px;
    left: 10px;
    right: 12px;
    width: 135px;
    max-height: 150px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 110px;
    left: 10px;
    font-size: 9px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 9px;
    top: 12px;
    left: 10px;
    right: 12px;
    width: 135px;
    max-height: 100px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 120px;
    left: 10px;
    font-size: 9px;
  }
}

@media (max-width: 380px) {
  .shared-card-textarea {
    font-size: 8px;
    top: 12px;
    left: 10px;
    right: 10px;
    width: 110px;
    max-height: 80px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 65%;
    left: 6px;
    font-size: 8px;
  }
  .card-grid:has(> .shared-card:only-child) {
    justify-content: center;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 215px;
    left: 18px;
    font-size: 14px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 16px;
    top: 40px;
    left: 20px;
    right: 12px;
    width: 220px;
    max-height: 200px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 9px;
    top: 20px;
    left: 5px;
    right: 12px;
    width: 120px;
    max-height: 75px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 105px;
    left: 7px;
    font-size: 9px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 9px;
    top: 15px;
    left: 6px;
    right: 12px;
    width: 125px;
    max-height: 80px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 105px;
    left: 6px;
    font-size: 9px;
  }
}

@media (max-width: 320px) {
  .shared-card-textarea {
    font-size: 14px;
    top: 30px;
    left: 20px;
    right: 10px;
    width: 200px;
    max-height: 130px;
    overflow-y: auto;
  }

  .shared-card-footer {
    top: 68%;
    left: 10px;
    font-size: 10px;
  }

  .card-grid:has(> .shared-card:only-child) {
    justify-content: center;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-footer {
    top: 185px;
    left: 18px;
    font-size: 12px;
  }

  .card-grid:has(> .shared-card:only-child) .shared-card-textarea {
    font-size: 14px;
    top: 30px;
    left: 20px;
    right: 12px;
    width: 200px;
    max-height: 200px;
    overflow-y: auto;
  }

  /* Exactly two children */
  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-textarea {
    font-size: 14px;
    top: 40px;
    left: 20px;
    right: 12px;
    width: 210px;
    max-height: 150px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(2)):not(
      :has(> .shared-card:nth-child(3))
    )
    .shared-card-footer {
    top: 200px;
    left: 10px;
    font-size: 12px;
  }

  /* Exactly three children */
  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-textarea {
    font-size: 14px;
    top: 40px;
    left: 20px;
    right: 12px;
    width: 210px;
    max-height: 150px;
    overflow-y: auto;
  }

  .card-grid:has(> .shared-card:nth-child(3)):not(
      :has(> .shared-card:nth-child(4))
    )
    .shared-card-footer {
    top: 195px;
    left: 14px;
    font-size: 12px;
  }
}
